

html, body, #root{
    height: 100%;
    overflow: hidden;
}

#main-page{
  background: url(https://cdn.playbuzz.com/cdn/6ba7f6e6-4753-4d58-beab-bc00b386841f/9c63ac71-987c-4814-9b77-5c156e91b2f4.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:fixed;
}

#app {
    height: 100%;
    width: 100%;
    min-width: 1024px;
}

#main-page{
    height: 100%;
    width: 100%;
}

#main-title-header{
    position: relative;
    top: 100px;
    width: 100%;
    text-align: center;
}

#min-form-container{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



#min-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    padding-bottom: 20px;

}

#main-form .btn {
    color: rgb(231, 230, 227);
}

.btn{
    display: inline-block;
    border: none;
    padding: 12px;
    background-color:   transparent;
    text-align: left;
    width: 200px;
    font-family: 'Oldenburg', cursive;
    cursor: pointer;
    border-radius: 10px; 
    
    font-size: 20px;
    line-height: 20px;
    margin-top: 20px;
    text-shadow: -.05px -0.5px 0 rgb(32,26,26), 0.5px -0.5px 0 rgb(32,26,26), -0.5px 0.5px 0 rgb(32,26,26), 0.5px 0.5px 0 rgb(32,26,26); 
}

a {
    text-decoration: none;
    color: inherit;
}

#main-title-header{
    font-family: 'Oldenburg', cursive;
    border-top-right-radius: 10px;
    background-color:none ;
    font-weight: bold;
    font-size: 20px;
    color:  rgb(244,224,40);
    line-height: 0px;
    text-shadow: -1px -1px 0 rgb(32,26,26), 1px -1px 0 rgb(32,26,26), -1px 1px 0 rgb(32,26,26), 1px 1px 0 rgb(32,26,26);
}

#main-page{
    background-image: url(https://media.istockphoto.com/illustrations/view-from-the-inside-of-the-cave-illustration-id690817022?k=6&m=690817022&s=612x612&w=0&h=vZExzqef_UvPuhbXfaxx4VwPlHk5DaRhVLcJM-atDok=);
    background-size: fill;
}

#tower{
    display: inline;
    position:relative;
    left: 40px;
    top: 20px;
}

#the{
    display: inline;
    position: relative;
    left: 210px;
    bottom: 10px;
}
#login{
    position: relative;
    top: 20px
}

#main-page .btn:focus{
    
    background-image: linear-gradient(to right, rgb(244,224,40), rgba(255,0,0,0));
    color: rgb(245, 244, 239);
    font-size: 25px;
    outline: 0px;
}

.btn:hover{
    
    background-image: linear-gradient(to right, rgb(244,224,40), rgba(255,0,0,0));
    transition: .3s;
    font-size: 24px;
}

#login-btns{
    display: flex;
    flex-direction: column;
}

.main-btn {
    color: white;
}