.battle {
    width: 1400px;
    height: 900px;
    background-image: url(../../assets/battle_BG.jpg);
    background-size: 1400px 900px;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
}

.battle-modal {
    position: absolute;
    top: 10px;
    z-index: 500;
}