.battle {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/battle_BG.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    margin-top: -10px;
}

.battle-modal {
    position: absolute;
    top: 10px;
    z-index: 500;
    outline: none;
}