.hand{
    position: absolute;
    left: 140px;
    /* bottom: 100px; */
    bottom: 0;   
}

.hand ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
}

.hand li{
    display: inline-block;
    transition: all .2s ease-in-out;
}

.energy-frame {
    position: absolute;
    left: -120px;
    bottom: 30px;
}

.energy{
    display: inline-block;
    font-size: 25px;
    font-family: monospace;
    color: blanchedalmond;
    font-weight: bold;
    user-select: none;
    
}

.hand-control {
    position: absolute;
    /* left: calc(50% - 100px); */
    left: -120px;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.end-turn{
    display: inline-block;
}

.end-turn-btn{
    cursor: pointer;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 25px;
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px 10px;
    background: #c31432;
    background: -webkit-linear-gradient(to right, #240b36, #c31432); 
    background: linear-gradient(to right, #240b36, #c31432); 
    color: #ffffff;
}

.end-turn-btn:focus{
    outline: none;
}