.map-outer-frame {
    position: relative;
}

.map-frame {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

.map-frame ul {
    list-style: none;
}

#canvas {
    background-image: url("../../assets/paper-3653357_1920.jpg");
    background-size: 100% 100%; 
    /* height: 900px;
    width: 1400px; */
    width: 100%;
    height: 100vh;
}

.map-btn {
    position: absolute;
    top: 30px;
    left: 50px;
}

.icon {
    /* position: absolute; */
    height: 40px;
    z-index: 80;
    /* -webkit-filter: drop-shadow(4px 4px 0 white)
                  drop-shadow(-4px -4px 0 white); */
}

.icon:hover {
    transform: scale(1.2);
    -webkit-filter: drop-shadow(4px 4px 0 gray);

}

.start {
    bottom: 70px;
    left: 700px;
    position: absolute;
    z-index: 10;
}

.boss {
    height: 60px;
    top: 40px;
    left: 700px;
    position: absolute;
    z-index: 10;
}
.level {
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
}

.level-one {
    /* bottom: 250px; */
    /* width: 50%; */
    bottom: 27%;
}

.level-two {
    /* bottom: 400px; */
    bottom: 44%;
}

.level-three {
    /* bottom: 600px; */
    bottom: 66%;
}

.hidden {
    display: none;
}

.message-modal {
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    background-color: wheat;
    z-index: 100;
    outline: none;
}

.message-frame {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message-img {
    width: 60%;
    max-height: 60%;
    margin: 20px;
}

.message-txt {
    margin: 20px 0 0 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
}

.map-error-frame {
    position: absolute;
    top: 33%;
    left: 40%;
    color: red;
    font-size: 36px;
    font-family: 'MedievalSharp', cursive;
    z-index: 0;
}

