.map-frame {
    /* background-image: url("./paper-3653357_1920.jpg");
    background-repeat: no-repeat;
    background-size: 100%; */
    height: 900px;
    width: 1400px;
    position: relative;
    box-sizing: border-box;
}

canvas {
    background-image: url("./paper-3653357_1920.jpg");
    background-size: 100%; 
    height: 900px;
    width: 1400px;
}

.icon {
    /* position: absolute; */
    height: 50px;
    z-index: 100;
    /* -webkit-filter: drop-shadow(4px 4px 0 white)
                  drop-shadow(-4px -4px 0 white); */
}

.icon:hover {
    transform: scale(1.2);
    -webkit-filter: drop-shadow(4px 4px 0 gray);

}

.start {
    bottom: 50px;
    left: 700px;
    position: absolute;
}

.boss {
    top: 70px;
    left: 700px;
    position: absolute;
}
.level {
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
}

.level-one {
    bottom: 200px;
    /* width: 50%; */
}

.level-two {
    bottom: 400px;
}

.level-three {
    bottom: 600px;
}

.hidden {
    display: none;
}
